<section id="details">
  <div class="details__container">
    <div class="details__btn-container">
      <button class="back-btn" onclick="history.back()">&#11013; Back</button>
    </div>
    <div class="details__load">
      <div>
        <p><span>Trailer Requirement:</span> {{details.trailer}}</p>
      </div>
      <div>
        <p><span>Load Material:</span> {{details.material}}</p>
      </div>
      {{#if details.license}}
      <div>
        <p><span>Special Licenses:</span> {{details.license}}</p>
      </div>
      {{/if}}
      <div>
        <p><span>Compensation:</span> ${{details.purse}}</p>
      </div>
      <div>
        <p><span>Due By:</span> {{details.deadline}}</p>
      </div>
      {{#each details.Locations}}
        {{#if pickup}}
        <div class="details__load-address">
          <span>Pickup Location: </span><p>{{street}}, {{city}}, {{state}} {{zip}}</p>
        </div>
        {{else}}
        <div class="details__load-address">
          <span>Dropoff Location: </span><p>{{street}}, {{city}}, {{state}} {{zip}}</p>
        </div>
        {{/if}}
      {{/each}}
      <div>
        <span>Additional Info:</span>
        <p class="instructions">{{details.instructions}}</p>
      </div>
    </div>
  </div>
</section>
