<section id="details" class="page-container">
  <div class="details__container">
    <div class="details__btn-container">
      <button class="back-btn" onclick="history.back()"><img class="back-btn-img" src="../images/left_arrow-shadow.jpg" alt="back-arrow"> Back</button>
    </div>
    <div class="details__load">
      <div class="information-container">
        <div>
          <p><span>Trailer Requirement:</span> {{details.trailer}}</p>
        </div>
        <div>
          <p><span>Load Material:</span> {{details.material}}</p>
        </div>
        {{#if details.license}}
        <div>
          <p><span>Special Licenses:</span> {{details.license}}</p>
        </div>
        {{/if}}
        <div>
          <p><span>Compensation:</span> <span class="monetary-sign">$</span>{{details.purse}}</p>
        </div>
        <div>
          <p><span>Due By:</span> {{details.deadline}}</p>
        </div>
        {{#each details.Locations}}
          {{#if pickup}}
          <div class="details__load-address address">
            <span>Pickup Location:&nbsp;</span><div><p>{{street}}</p> <p>{{city}}, {{state}} {{zip}}</p></div>
          </div>
          {{else}}
          <div class="details__load-address address">
            <span>Dropoff Location:&nbsp;</span><div><p>{{street}}</p> <p>{{city}}, {{state}} {{zip}}</p></div>
          </div>
          {{/if}}
        {{/each}}
        <div>
          <span>Additional Info:</span>
          {{#if details.instructions}}
            <p class="instructions">{{details.instructions}}</p>
          {{else}}
            <p class="instructions">None</p>
          {{/if}}
        </div>
      </div>
    </div>

  </div>
</section>
